<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itkey.QuestionMapper">

	<!-- 유저 1인 문의 조회 -->
	<select id="selectAsk" resultType="Question">
		select
		ask_No,
		phone,
		ask_title,
		ask_content,
		reply_yn,
		ask_category,
		
		date_format(ask_date, '%Y-%m-%d %H:%i:%S')as ask_date
		from
		question_tbl
		where
		phone = #{keyword}
		order by
		ask_No desc
		limit
		#{start}, #{end}
	</select>
	<!-- 회원 문의 조회 Count-->
	<select id="selectAsktotalCount" resultType="_int">
		select
		count(*) total_cnt
		from
		question_tbl
		where
		phone =#{keyword}
	</select>
	
		<!-- 회원 문의  오늘  Count-->
	<select id="askTodayCount" resultType="_int">
		select
		count(*) total_cnt
		from
		question_tbl
		where
		date_format(ask_date,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
		
	</select>

	<!-- 문의하기 본인글쓰기 -->
	<insert id="insertAsk" parameterType="Question">
	
		insert
		into
		question_tbl(phone,
		ask_title,
		ask_category,
		ask_content,
		ask_date
		)
		values(#{phone},#{askTitle},#{askCategory},#{askContent},date_format(now(), '%Y-%m-%d %H:%i:%S'))
		
	</insert>

	<!-- 문의글 삭제 -->
	<delete id="deleteAsk" parameterType="_int">
		delete
		from
		question_tbl
		where
		ask_No = #{askNo}
	</delete>

	<!-- 문의글 답변 부분   N > Y-->
	<update id="updateAsk" parameterType="_int">
		update
		question_tbl
		set
		reply_yn = 'Y'
		where
		ask_No =#{askNo}

	</update>

	<!-- 관리자 문의하기 전체 조회    -->

	<select id="selectAskList" resultType="Question">
 select @rownum:=@rownum+1 row_num, m.* 
   from (
	select
			a.ask_No,
			a.phone,
			a.ask_title,
			a.ask_content,
			a.reply_yn,
			a.ask_category,
			b.ans_content,
			date_format(a.ask_date, '%Y-%m-%d %H:%i:%S') as ask_date
		from
			question_tbl a left outer join answer_tbl b on a.ask_No = b.ask_No
		order by
			a.ask_No
       ) m , 
       (select @rownum:=0) temp 
	 limit #{start}, #{end}

	</select>
	
	
	<!-- 회원 문의List   Count -->
	<select id="selectAskListtotalCount" resultType="_int">
		select
		  count(*) total_cnt
		from
		    question_tbl 
	</select>


	<!-- 문의하기 Y 답변 완료 -->
	<select id="selectAskY" resultType="Question">
	
	 select @rownum:=@rownum+1 row_num, m.* 
   from (
		select
			a.ask_No,
			a.phone,
			a.ask_title,
			a.ask_content,
			a.reply_yn,
			a.ask_category,
			b.ans_content,
			date_format(a.ask_date, '%Y-%m-%d %H:%i:%S') as ask_date
		from
			question_tbl a left outer join answer_tbl b on a.ask_No = b.ask_No
		where 
			a.reply_yn = 'Y'
		order by
			a.ask_No
	) m , 
	    (select @rownum:=0) temp 
		limit #{start}, #{end}
	</select>
	
	<!-- 회원 문의List Y Count -->
	<select id="selectAskYtotalCount" resultType="_int">
		select
		  count(*) total_cnt
		from
		    question_tbl 
		where
		reply_yn = 'Y'
		
	
	</select>
	
	
	<!-- 문의하기 N -->
	<select id="selectAskN" resultType="Question">
select @rownum:=@rownum+1 row_num, m.* 
   from (
	  select
			ask_No,
			phone,
			ask_title,
			ask_content,
			reply_yn,
			ask_category,
			date_format(ask_date, '%Y-%m-%d %H:%i:%S')as ask_date
		from
			question_tbl
		where 
			reply_yn = 'N'
		order by
			 ask_No
	) m , 
	    (select @rownum:=0) temp 
		limit #{start}, #{end}
	</select>
	
		<!-- 회원 문의List N Count -->
	<select id="selectAskNtotalCount" resultType="_int">
		select
		  count(*) total_cnt
		from
		    question_tbl 
	   where
	   reply_yn = 'N'
	
	</select>

	<select id="selectAsk2" parameterType="_int"
		resultType="Question">
		select
		ask_No,
		phone,
		ask_title,
		ask_content,
		reply_yn,
		ask_category
		,
		date_format(ask_date, '%Y-%m-%d %H:%i:%S')as ask_date
		from
		question_tbl
		where
		ask_No =
		#{askNo}
		
	</select>
	<select id="ansUpdateSelect" parameterType="_int"
		resultType="Question">
		select
		    a.ask_No,
			a.phone,
			a.ask_title,
			a.ask_content,
			a.reply_yn,
			a.ask_category,
			b.ans_content,
		date_format(a.ask_date, '%Y-%m-%d %H:%i:%S')as ask_date
		from
		question_tbl a left outer join answer_tbl b on a.ask_No = b.ask_No
		where
		a.ask_No = #{askNo}
		order by
		a.ask_date
	</select>


</mapper>