<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itkey.UserMapper">

	<select id="select_all" resultType="User">
		select * from ${user_tbl}
		order by ${join_date} desc
	</select>
	
	<insert id="insert">
		insert into ${user_tbl} (${phone}, ${password}, ${email}, ${nickname})
		values (#{phone}, #{password}, #{email}, #{nickname})
	</insert>
	
	<update id="update">
		update ${user_tbl}
		set ${password} = #{password}, ${email} = #{email}, ${nickname} = #{nickname}
		where ${phone} = #{phone}
	</update>
	
	<update id="delete">
		update ${user_tbl}
		set ${withdrawal} = #{withdrawal}
		where ${phone} = #{phone}
	</update>
	
	<select id="select_login" resultType="User">
		select * from ${user_tbl}
		where ${phone} = #{phone}
	</select>
	
	<!-- 황선필 모두 수정 -->
	<update id="modifyAll" parameterType="User">
		update ${user_tbl}
		set ${password} = #{password}, ${email} = #{email}, ${nickname} = #{nickname}
		where ${phone} = #{phone}
	
	</update>
	
	<!--phone 중복 체크 황선필 -->
	<select id="regphonecheck" resultType="User">
		select * from ${user_tbl} where ${phone} = #{phone}
	</select>
	

	<!-- 회원 등록 우리 홈피에서 함 황선필 -->
	<insert id="regAll" parameterType="User">

		insert into ${user_tbl} (${phone}, ${password}, ${email}, ${nickname}, ${banner})
		values (#{phone}, #{password}, #{email}, #{nickname}, #{banner})
		
	</insert>
	
	<select id="find_password" resultType="User">
		select * from ${user_tbl} 
		where ${phone} = #{phone} and ${email} = #{email}
	</select>
	
	<select id="paging" resultType="User">
		select * from ${user_tbl} 
		<if test="keyword != null">
			<choose>
				<when test="category.equals('email')">
					where ${email} like concat('%',#{keyword},'%' )
				</when>
				<when test="category.equals('phone')">
					where ${phone} like concat('%',#{keyword},'%' )
				</when>
				<when test="category.equals('nickname')">
					where ${nickname} like concat('%',#{keyword},'%' )
				</when>
				<otherwise>
					where ${email} like concat('%',#{keyword},'%' ) or ${phone} like concat('%',#{keyword},'%' ) or ${nickname} like concat('%',#{keyword},'%' )
				</otherwise>
			</choose>		
		</if>
		limit #{start}, #{end}
	</select>
	
	<select id="total_count" resultType="Integer">
		select count(*) total_cnt from ${user_tbl}
		<if test="keyword != null">
			<choose>
				<when test="category.equals('email')">
					where ${email} like concat('%',#{keyword},'%' )
				</when>
				<when test="category.equals('phone')">
					where ${phone} like concat('%',#{keyword},'%' )
				</when>
				<when test="category.equals('nickname')">
					where ${nickname} like concat('%',#{keyword},'%' )
				</when>
				<otherwise>
					where ${email} like concat('%',#{keyword},'%' ) or ${phone} like concat('%',#{keyword},'%' ) or ${nickname} like concat('%',#{keyword},'%' )
				</otherwise>
			</choose>
		</if>
	</select>
	
	<!-- 총 가입자 수 -->
	<select id="adminMemberCount" resultType="int">
		SELECT count(1) FROM user_tbl
	</select>
	
	<!-- 오늘 가입자 수 -->
	<select id="adminselectTodayMemberCount" resultType="int">
		SELECT count(1) FROM user_tbl WHERE DATE_FORMAT(JOIN_DATE, "%Y-%m-%d")=#{today}
	</select>
	
	<!-- 서비스 가입 회원 수 --> 
	<select id="getserviceStatusY" resultType="int">
		SELECT count(1) FROM user_tbl where serviceyn = 'Y'
	</select>
	
	<!-- 탈퇴한 회원 수 -->
	<select id="getwithdrawalMember" resultType="int">
		SELECT count(1) FROM user_tbl where withdrawal = 'Y'
	</select>
	
	<!-- 황선필 -->
		<!-- cashclickupadate -->
	
	<update id="cashClick" >
	
		update click_tbl
		set click_num = click_num+1
		where click_no = 1
	
	</update>
	
	<!-- 총 배너 클릭자 수 -->
	<select id="selectBannerClick" resultType="int">
		SELECT click_num FROM click_tbl where click_no = 1
	</select>
	
	<!-- 총 배너 통해 가입한 회원수 -->
	<select id="selectBannerUserCount" resultType="int">
		SELECT count(banner) FROM user_tbl where banner = 1
	</select>
	
	<!-- 회원탈퇴 -->
	<update id="userwithdrawal" parameterType="User">
	
		update user_tbl
		set withdrawal = 'Y'
		where phone = #{phone}
	
	</update>
	
	
</mapper>