<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itkey.UserMapper">

	<select id="select_all" resultType="User">
		select * from ${user_tbl}
		order by ${join_date}
	</select>
	
	<insert id="insert">
		insert into ${user_tbl} (${phone}, ${password}, ${email}, ${nickname})
		values (#{phone}, #{password}, #{email}, #{nickname})
	</insert>
	
	<update id="update">
		update ${user_tbl}
		set ${password} = #{password}, ${email} = #{email}, ${nickname} = #{nickname}
		where ${phone} = #{phone}
	</update>
	
	<update id="delete">
		update ${user_tbl}
		set ${withdrawal} = #{withdrawal}
		where ${phone} = #{phone}
	</update>
	
	<select id="select_login" resultType="User">
		select * from ${user_tbl}
		where ${phone} = #{phone}
	</select>
	
	<!-- 황선필 모두 수정 -->
	<update id="modifyAll" parameterType="User">
		update ${user_tbl}
		set ${password} = #{password}, ${email} = #{email}, ${nickname} = #{nickname}
		where ${phone} = #{phone}
	
	</update>
	
	<!--phone 중복 체크 황선필 -->
	<select id="regphonecheck" resultType="User">
		select * from ${user_tbl} where ${phone} = #{phone}
	</select>
	
	<!-- 회원 등록 황선필 --><!-- nickname $를 #으로 수정 -->
	<insert id="regAll" parameterType="User">

		insert into ${user_tbl} (${phone}, ${password}, ${email}, ${nickname})
		values (#{phone}, #{password}, #{email}, #{nickname})
		
	</insert>
	
	<select id="find_password" resultType="User">
		select * from ${user_tbl} 
		where ${phone} = #{phone} and ${email} = #{email}
	</select>
	
	<select id="paging" resultType="User">
		select * from ${user_tbl} orders limit #{start}, #{end}
	</select>
	
	<select id="total_count" resultType="Integer">
		select count(*) total_cnt from ${user_tbl}
	</select>
</mapper>