<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="user_tbl" value="user_tbl" />
		<property name="phone" value="phone" />
		<property name="password" value="password" />
		<property name="email" value="email" />
		<property name="join_date" value="join_date" />
		<property name="withdrawal" value="withdrawal" />
		<property name="nickname" value="nickname"/>

		<property name="order_tbl" value="order_tbl"/>
		<property name="order_no" value="order_no"/>
		<property name="phone" value="phone"/>
		<property name="prder_cont" value="prder_cont"/>
		<property name="billing_key" value="billing_key"/>
		<property name="price" value="price"/>
		<property name="status" value="status"/>
		<property name="rqst_time" value="rqst_time"/>
		<property name="success_time" value="success_time"/>
		<property name="next_order_date" value="next_order_date"/>
		<property name="auto_order_date" value="auto_order_date"/>
	</properties>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- typealiases 밑에... 위의 세팅 먼저 읽어야한다. -->
	<typeAliases>
		<typeAlias alias="User" type="com.itkey.vo.UserVO" />
		<typeAlias alias="Order" type="com.itkey.vo.OrderVO" />
		<typeAlias alias="Refund" type="com.itkey.vo.RefundVO" />
		<typeAlias alias="Service" type="com.itkey.vo.ServiceVO" />
		<typeAlias alias="QuestionVO" type="com.itkey.vo.QuestionVO" />
	</typeAliases>
	

	
</configuration>
